* {
    padding: 0;
    margin: 0;
}

html, body {height:100%;}
html {display:table; width:100%;transition: all .5s ease;}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
    background: linear-gradient(to top, #111111 0%, #ffffff 0%);
    overflow: hidden;
}


.variants {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10%;
}

.variants p {
    padding: 10% 20%;
    border: solid 0.5px #111111;
    transition: all .5s ease;
}

.variants p:hover {
    background-color: #111111;
    border: none;
    color: white;
    cursor: pointer;
}

/* .error {
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 15%;
    filter: blur(10px);
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    z-index: 0;
    transition: all .5s ease;
} */

.textBox {
    position: absolute;
    background-color: #111111;
    min-height: 100vh;
    width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f84b4b;
    font-size: 32px;
    border-radius: 8px;
    animation: animationTextError 1s ease;
    opacity: 100%;
    transform: rotate(0);
    /* box-shadow: 1px 1px 15px 10px #222222; */
    /* filter: drop-shadow(-5px -5px 450px #f84b4b);  */
}

img{
    width: 8%;
    cursor: pointer;
    transition: all .5s ease;
}
.textBox:hover{
    transform: rotate(360deg);
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    opacity: 100%;
    animation: animationTextError 5s ease;
}

@keyframes animationTextError {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}